name: HACS Action

on:
  push:
  pull_request:
  schedule:
    - cron: "0 2 * * 0"  # weekly

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: HACS validation
        uses: hacs/action@main
        with:
          category: integration