name: hassfest

on:
  push:
  pull_request:
  schedule:
    - cron: "0 3 * * 0"  # weekly

jobs:
  hassfest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run hassfest
        uses: home-assistant/actions/hassfest@master